.trashIconContainer {
  cursor: pointer;
  transition: background .3s ease;
  padding: .33rem .75rem;
  border-left: 1px solid lightgray;

  &:hover {
    background: #f0f0f0;
  }
}

.line-separator {
  margin: 0 0 0.5rem;
}